In [1]:
import pandas as pd

In [2]:
# Chargement des données depuis un fichier CSV
datatemp = pd.read_csv("donneemeteoo.csv")
datatemp.drop(columns=["Unnamed: 2", "Unnamed: 3", "Unnamed: 4", "Unnamed: 5"], inplace=True)

datatemp.tail()

                   time  temperature
35059  2022-12-31T19:00         14.9
35060  2022-12-31T20:00         15.2
35061  2022-12-31T21:00         15.1
35062  2022-12-31T22:00         14.9
35063  2022-12-31T23:00         14.9

In [3]:
# Chargement des données depuis un fichier CSV
datatemp = pd.read_csv("donneemeteoo.csv")

# Conversion de la colonne "time" en type datetime
datatemp['time'] = pd.to_datetime(datatemp['time'])

# Regroupement par jour et calcul de la moyenne de la colonne "temperature_2m"
datatemp = datatemp.groupby(datatemp['time'].dt.date)['temperature'].mean()

# Affichage des résultats
print(datatemp)

time
2019-01-01     7.570833
2019-01-02     5.166667
2019-01-03     2.283333
2019-01-04     1.512500
2019-01-05     2.954167
                ...
2022-12-27     5.837500
2022-12-28    10.283333
2022-12-29     9.358333
2022-12-30    10.254167
2022-12-31    15.112500
Name: temperature, Length: 1461, dtype: float64

In [4]:
datatemp

time
2019-01-01     7.570833
2019-01-02     5.166667
2019-01-03     2.283333
2019-01-04     1.512500
2019-01-05     2.954167
                ...
2022-12-27     5.837500
2022-12-28    10.283333
2022-12-29     9.358333
2022-12-30    10.254167
2022-12-31    15.112500
Name: temperature, Length: 1461, dtype: float64